<div class="stream-search-header">
	{{#link-to 'search' class="page-title"}}Search Twitch{{/link-to}}
	{{search-bar class="search-bar" buttonText="Search" onSubmit=(action "sendSearchAction")}}
</div>