<hr>
<h5>Search for live streams on <a href="http://www.twitch.tv/">Twitch</a>.</h5>
<h5>Made with <a href="http://getskeleton.com/">Skeleton</a> and Ember.js.</h5>
<h5><a href="https://github.com/jkeat/search-twitch">Github</a></h5>